@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);



.my-box {
    border-bottom: 7px solid #0c0c0c;
    border-top: 7px solid #0c0c0c;
    height:80%;
    width: 95%;
    left:15px;
    background-color: #f19e9b;
    /*font-family: nanumsquare;*/
    font-family: 'Do Hyeon', sans-serif;;
    position: absolute;
    
}
.my_box_ontop{
    border-left: 7px solid #0c0c0c;
    border-right:7px solid #0c0c0c ;
    height:80%;
    width: 95%;
    top:14px;
    opacity: 1;
    position: absolute;
}
#signal{
    color:white; 
    font-size: 75px; 
    margin-top : 5px;
    margin-bottom: 0px;
    text-shadow: 3px 3px 3px #040404, -3px -3px 3px #040404, 3px -3px 3px #040404, -3px 3px 3px #040404;
}

header{
    font-size: 30px;
    margin-left:10px;
    margin-top:5px;
    color : black;
    text-shadow: 2px 2px 2px white;
}
body{
    background-color:#5a98e4;
}