@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);


.my-box {
    padding: 5px;
    border: 7px solid #0c0c0c;
    background-color: #ffffff;    
    font-family: nanumsquare; 
    height : 400px;

  }

header{
    font-size: 30px;
    margin-left: 10px;
    font-weight: bold;

}

#History{
   color:black; 
   font-size: 22px;
   margin-left:10px;
   font-weight: bold;

  }

  body{
    background-color:#5a98e4;
  }