
    .my-box {
        padding: 5px;
        border-radius: 20px;

    }

    div#map_button {
        position: absolute;
        top: 1%;
        left: 41%;
        border: 0;
    }

    div#map {
        top: 10%;
        left: 10%;
    }
    #canvas{
        margin-left : 150px;
    }
    #kakao-login-btn{
        padding-top : 30px;
    }
    body{
        background-color: #e5e5e5;
    }