
    .my-box {
        padding: 5px;
    }

    #map {
        float : left;
        position : relative;
        
    }
    #canvas{
        width : 590px;
        height:590px;
        position : absolute;
        background : transparent;
        left : 140px;
    }
     
    #mapimg{
        width : 590px;
        height:590px;
        position : absolute;
        border: solid 7px #040404;
        left : 140px;
    }
    #kakao-login-btn{
        position : absolute;
        width : 30px;
        height : 30px;
        top:620px;
    } 
    body{
        background-color:#5a98e4;
    }