@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);


.my-box {
    border-bottom: 7px solid #0c0c0c;
    border-top: 7px solid #0c0c0c;
    position: absolute;
    background-color: #ffffff;
    font-family: 'Do Hyeon', sans-serif;
    height : 410px;
    width : 455.39px;

    left:15px;
  } 

.my_box_ontop {
    border-left: 7px solid #0c0c0c;
    border-right: 7px solid #0c0c0c;
    background-color: rgba(256,256,256,0);
    position: absolute;
    height : 410px;
    width : 455.39px;

    top:15px;
    
  }
.topiclist{
    color:black;
    font-size: 22px; 
    margin-top: 0px;
    margin-left : 10px;
}
header{
    font-size: 30px;
    text-align: center;
    margin-top: 5px;
    background-color: #f3c452;
}

body{
    background-color:#5a98e4;
}