@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);


.my-box {
    border: 7px solid #0c0c0c;
    background-color: #ffffff;
    font-family: 'Do Hyeon', sans-serif;
    height : 370px;
  }
.topiclist{
    color:black;
    font-size: 22px; 
    margin-top: 10px;
    margin-left : 10px;
}
header{
    font-size: 30px;
    text-align: center;

}

body{
    background-color:#5a98e4;
}