<launch>

  <node pkg="bada_audio" name="bada_audio.py" type="bada_audio"/>
<!-- 
  <group ns="bada_audio2">
    <node pkg="bada_audio" name="sim" type="bada_audio_node"/>
  </group>

  <node pkg="bada_audio" name="mimic" type="mimic">
    <remap from="input" to="bada_audio1/turtle1"/>
    <remap from="output" to="bada_audio2/turtle1"/>
  </node> -->

</launch>